Dockerfile
README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

# Ignore virtual environment directories
venv/
env/
.venv/
.env/

# Ignore log files and temporary files
*.log
*.tmp
*.swp
*.swo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore local configuration files
*.local
*.env

# Ignore build and distribution directories
build/
dist/
*.egg-info/